<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d4359d411c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="center">
        <span class="logo">WEMAKEWEB</span>
        <ul class="center">
            <li>Accueil</li>
            <li>Les formations</li>
            <li>La web team</li>
            <li>Contact</li>
        </ul>
    </nav>
    <div class="banner center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 center">
                    <div class="left-bloc ">
                        <div><h1><span style="font-weight: lighter; text-decoration: underline;">Apprenez</span> à coder</h1></div>
                        <div class="punch-line">Je développe mon site de A à Z !</div>
                        <p>Envie de reconversion... de changer de vie... Nous vous enseignons les compétences essentielles en HTML, CSS et JAVASCRIPT pour travailler de chez vous, gagner en <strong>indépendance et en liberté</strong>, ou encore changer de poste dans votre entreprise</p>
                            <!-- <p class="list-punch-lines">Pourquoi coder...</p>
                            <ul>
                                <li>Je travaille de chez moi</li>
                                <li>Je change de poste dans mon entreprise</li>
                                <li>Je gagne en indépendance et en liberté</li>
                                <li>Je me reconvertis</li>
                            </ul> -->
                        <button class="cta" style="margin-right: 50px;">Découvrez les formations</button>
                        <button class="cta contact">Contactez-nous</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 center">
                    <div class="right-bloc">
                        <img src="images/dev-group.jpg" width="100%" alt="">
                        <!-- <div class="formation center">
                            2 jours : Objectif, faire un site one-page de photographe
                        </div>
                        <div class="formation center">
                            3 jours : Objectif, faire un site one-page type AirBnB
                        </div>
                        <div class="formation center">
                            4 jours : Objectif, créer une interface web dynamique type Oui.sncf
                        </div>
                        <div class="formation center">
                            5 jours : Objectif, créer une interface de boutique en ligne avec plusieurs pages
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bloc3 padded">
            <h2 style="font-size: 40px; color: black; font-weight: bolder; "><span style="color: #6B7DF1;">Vous n'avez jamais touché à un ordinateur...</span> Aucun problème. Nous vous initions au code pas à pas. En entrant dans l'univers du web, vous allez vers :</h2>
            <div class="container">
                <div class="row">
                    <div class="div col-xs-12 col-ms-6 col-md-3">
                        <h3 class="feature center">Un secteur en qui recrute</h3>
                    </div>
                    <div class="div col-xs-12 col-ms-6 col-md-3">
                        <h3 class="feature center">Une évolution au sein de votre entreprise</h3>
                    </div>
                    <div class="div col-xs-12 col-ms-6 col-md-3">
                        <h3 class="feature center">Plus d'indépendance et le liberté</h3>
                    </div>
                    <div class="div col-xs-12 col-ms-6 col-md-3">
                        <h3 class="feature center">Du travail depuis la maison</h3>
                    </div>
                </div>
            </div>
        </div>




    <div class="text-bloc">
        <h3 class="text-gradient">Première étape. Nous vous initions au métier de développeur front-end</h3>
        <p>Le front-end c’est la partie du code qui est reçue par le client. Je rappelle que le client c’est notre navigateur Web. Il s’agit finalement des éléments du site web que l’on aperçoit à l’écran et avec lesquels on pourra interagir. Ces éléments sont composés de 3 langages: HTML, CSS et Javascript</p>
        <!-- <div class="languages text-center">
            <img src="images/html.png" width="20%" alt="">
            <img src="images/css.png" width="18%" alt="">
            <img src="images/js.png" width="15%" alt="">
        </div>  -->
        <ul class="list-unstyled padded">
            <li class="media">
                <img src="images/html.png" width="21%" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">HTML (Hyper Text Markup Langage)</h5>
                HTML – Hyper Text Markup Langage – est un langage composé de tags, balises en Français. Il va nous permettre de représenter la structure, le squelette de nos pages Web.
                </div>
            </li>
            <li class="media my-4">
                <img src="images/css.png" width="22%" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">CSS (Cascading Styles Sheets)</h5>
                Le langage CSS – Cascading Styles Sheets – est un langage qui va mettre en forme nos pages Web et les embellir. Il va désigner nos éléments HTML à l’aide de sélecteurs et va leur appliquer un style CSS. C’est ce langage CSS qui est responsable des couleurs, des tailles, de la mise en page, etc...
                </div>
            </li>
            <li class="media">
                <img src="images/js.png" width="22%" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Javascript</h5>
                Un site Web peut être composé uniquement d’HTML et de CSS, mais si on veut lui insuffler un peu de vie on aura besoin de Javascript, qui lui, est un vrai langage de programmation, avec des boucles, des conditions…
                </div>
            </li>
        </ul>
        <i class="fas fa-arrow-down icone text-center"></i>
    </div>
        

    <div class="bloc3 padded">
            <h2 style="font-size: 40px; color: black; font-weight: bolder; "><span style="color: #6B7DF1;">Ensuite nous passons à l'étape suivante</span></h2>
            <div class="container">
                <div class="row">
                    <div class="div col-xs-12 col-sm-6">
                        <h3 class="feature vertical-direction">
                            <i class="fas fa-code icone padded"></i>
                            <p>Je developpe mon site responsive design</p>
                        </h3>
                    </div>
                    <div class="div col-xs-12 col-sm-6">
                        <h3 class="feature vertical-direction">
                            <i class="fas fa-globe icone padded"></i>
                            <p>Puis je le mets en ligne sur internet</p>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper padded">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="images/dev-group2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>HTML5 - CSS3: Les bases</strong></h5>
                                    <hr>
                                    <p>Objectif: faire un site one-page de photographe</p>
                                    <p class="card-text">Durée de la formation: 2 jours</p>
                                    <hr>
                                    <p><i>Aucun pré-requis</i></p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="images/dev-group2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>HTML5 - CSS3: On va plus loin</strong></h5>
                                    <hr>
                                    <p>Objectif: faire un site one-page de AirBnB</p>
                                    <p class="card-text">Durée de la formation: 3 jours</p>
                                    <hr>
                                    <p><i>Aucun pré-requis</i></p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="images/dev-group2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>JAVASCRIPT: Les bases</strong></h5>
                                    <hr>
                                    <p>Objectif: Créer une interface web dynamique (oui.sncf)</p>
                                    <p class="card-text">Durée de la formation: 4 jours</p>
                                    <hr>
                                    <p><i>Pré-requis: Les bases HTML/CSS</i></p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="images/dev-group2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>HTML - CSS - JAVASCRIPT</strong></h5>
                                    <hr>
                                    <p>Créer une interface web de boutique en ligne avec plusieurs pages</p>
                                    <p class="card-text">Durée de la formation: 5 jours</p>
                                    <hr>
                                    <p><i>Pré-requis: Les bases HTML/CSS</i></p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    <div class="bloc2" style="margin-top: 0px;">
             <!-- <h3>Je me forme en...</h3> -->
        <div class="accordion" id="accordionExample">
                <h3>Plus en détails, nous vous formons en...</h3>
                <div class="card-button">
                    <div class="" id="headingOne">
                    <h2 class="mb-0">
                        <button class="cta collapse-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        2 jours de formation : Objectif, faire un site one-page de photographe
                        </button>
                    </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quas explicabo ut nihil fuga quis corrupti minus cumque numquam aliquid. Iste quibusdam nesciunt adipisci hic quos reprehenderit dignissimos facilis, voluptas laudantium voluptate sunt fuga a sit, ratione quae aperiam totam!
                    </div>
                    </div>
                </div>
                <div class="card-button">
                    <div class="" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="cta collapse-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        3 jours de formation : Objectif, faire un site one-page type AirBnB
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis alias nam quisquam, ipsum commodi nulla dicta molestias dolorum modi ad ab enim molestiae facilis optio! Eos ratione sit quisquam voluptas nihil impedit, aut est ipsam consequuntur provident, fuga eveniet odit.
                    </div>
                    </div>
                </div>
                <div class="card-button">
                    <div class="" id="headingThree">
                    <h2 class="mb-0">
                        <button class="cta collapse-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                4 jours : Objectif, créer une interface web dynamique type Oui.sncf
                        </button>
                    </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum molestiae, iure deserunt aut ratione nesciunt impedit fugiat autem quasi quam dolorem commodi eos iusto harum culpa ad incidunt? Quasi veniam pariatur, ratione quaerat dicta quam labore dignissimos cumque ipsum nobis?
                    </div>
                    </div>
                </div>
                <div class="card-button">
                        <div class="" id="headingThree">
                        <h2 class="mb-0">
                            <button class="cta collapse-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                5 jours : Objectif, créer une interface de boutique en ligne avec plusieurs pages
                            </button>
                        </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, molestias ullam, autem dolor quos repellat modi dolorem vitae repellendus placeat molestiae debitis totam! Cupiditate reiciendis est repellendus similique ab, obcaecati corporis, laudantium aliquid nisi, error optio id natus a fuga.
                        </div>
                        </div>
                    </div>
                </div>
    </div>

    
  

    <!-- <form>
        <input type="text" id="sujet" placeholder="sujet"><br>
        <input type="text" id="email" placeholder="email"><br>
        <textarea type="text" id="text" cols="30" rows="10" placeholder="texte"></textarea>
        <input type="submit" id="submit">
    </form> -->
    <!-- <script src="/public/formData.js"></script> -->
    <footer class="center">
        <form class="">
            <div class="form-inline">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                        </div>
                        <input type="text" id="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Votre email">
                    </div>
                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                    <input type="text" id="sujet" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Sujet">
                    <!-- <div class="form-check mb-2 mr-sm-2">
                        <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                        <label class="form-check-label" for="inlineFormCheck">
                        Remember me
                        </label>
                    </div> -->
            </div>
            
            <textarea type="text" id="text" rows="6" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Votre message"></textarea>
            <button type="submit" id="submit" class="btn btn-primary mb-2">Je demande des infos</button>

        </form>
    </footer>
<script src="navbar.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>