<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formation développement web Aix-en-Provence - Marseille</title>
    <script src="https://kit.fontawesome.com/d4359d411c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mobile.css">
</head>
<body>
    <nav class="center hidden-xs">
        <span class="logo"><i>WEMAKEWEB</i></span>
        <ul class="center navbar">
            <li class="nav-item dropdown">
                <li class="nav-link dropdown-toggle link" style="padding: 15px; border-radius: 5px; background-color: #6B7DF1;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Les formations
                </li>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <p class="text-center">Développement web</p>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">FORMATION 2 jours - Les bases HTML5 - CSS3 </a>
                    <a class="dropdown-item" href="#">FORMATION 3 jours - HTML5 - CSS3 - Maquettage</a>
                    <a class="dropdown-item" href="#">FORMATION 4 jours - Les bases de JAVASCRIPT</a>
                    <a class="dropdown-item" href="#">FORMATION 5 jours - HTML5 - CSS3 - JAVASCRIPT</a>
                </div>
            </li>
            <li><button class="contact" style="border: none; color: white; font-weight: bolder; margin-left: 50px; padding: 15px; border-radius: 5px; background-color: #6B7DF1;">Je m'inscris maintenant</button></li>
        </ul>
        <div class="nav-item dropdown nav-item-xs">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Les formations</a>
                <a class="dropdown-item" href="#">Je m'inscris maintenant</a>
            </div>
        </div>
        <div class="chat">
            <div class="title">
                    <img src="images/moi.jpg" class="avatar" alt="">
                    <img src="images/mika.png" class="avatar" alt="" style="margin-left: -8px; margin-right: 10px;">
                <h3>Live tchat: Online</h3>
                <i class="fas fa-angle-up center"></i>
                <!-- <i class="fas fa-times"></i> -->
            </div>
            <div class="body-chat">
                <div class="message-chat-intro">Bonjour, veuillez laisser votre email pour pouvoir vous contacter rapidement, merci.</div>
                <div class="message-chat-intro">
                    <form class="">
                            <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" id="chat-email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="E-mail">
                            </div>
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" id="chat-nom" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Nom">
                            </div>
                            <label class="sr-only" for="inlineFormInputName2">Name</label>
                        <button type="submit" id="chat-submit" class="btn btn-primary mb-2">OK</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Message envoyé !</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>OUPS, une erreur est survenue lors de l'envoie du message!</strong> Contacter le développeur à acardnicolas91@gmail.com
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nav>
    <div class="banner center">
        <div class="totop">
            <i class="fas fa-angle-up"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 center">
                    <div class="left-bloc ">
                        <div><h1><span style="font-weight: lighter; text-decoration: underline;">J'apprends</span> à coder</h1></div>
                        <div class="punch-line">Je gagne en indépendance et en liberté !</div>
                        <p>Envie de reconversion... de changer de vie... Nous vous enseignons les compétences essentielles en HTML, CSS et JAVASCRIPT pour travailler de chez vous, gagner en <strong>indépendance et en liberté</strong>, ou encore changer de poste dans votre entreprise.</p>
                            <div class="header-button">
                                <button class="cta b1">Découvrez les formations</button>
                                <button class="cta contact">Je m'inscris maintenant</button>
                            </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 center">
                    <div class="right-bloc">
                        <img src="images/dev-group.jpg" width="100%" alt="">
                        <button class="cta">Découvrez les formations</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="wrapper team presentation padded">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <h2 class="padded">Vous n'avez jamais touché à un ordinateur...</h2>
                        <p>Aucun problème. Nous vous initions au code pas à pas. En entrant dans l'univers du  au travers d'HTML, CSS et Javascript, vous allez vers :</p>
                        <ul>
                            <li><i class="fas fa-sort-amount-up"></i> <span>Un secteur en qui recrute</span>  </li>
                            <li><i class="fas fa-hands-helping"></i> <span>Une évolution au sein de votre entreprise</span></li>
                            <li><i class="fas fa-cocktail"></i> <span> Plus d'indépendance et le liberté</span> </li>
                            <li><i class="fas fa-coffee"></i> <span>Du travail depuis la maison</span></li>
                        </ul>
                        <button class="collapse-button cta"> Voir les formations </button>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7 avatar text-center center">
                      <img src="images/laptop-beach.png" width="80%" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="setup-dev">

            <div class="wapper text-bloc">
              <hr>
                <h3 class="text-gradient">1ère étape. Installation de notre environnement de développement</h3>
                <div class="container" style="text-align: center;">
                    <div class="row padded">
                        <div class="col-xs-12 col-sm-4">
                          <img src="images/visual.png" width="30%" alt="">
                          <p class="padded">Visual studio Code : parce qu'il faut un éditeur de texte sympa et efficace...</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img src="images/chrome.png" width="30%" alt="">
                            <p class="padded">Google Chrome : on ne le présente plus !</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img src="images/terminal.png" width="30%" alt="">
                            <p class="padded">Le terminal : En tant que dev, il faut savoir parler à son terminal.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="fas fa-arrow-down icone text-center"></i>
    <div class="text-bloc">
        <h3 class="text-gradient">2éme étape. Nous vous initions au métier de développeur front-end</h3>
        <p>Le front-end c’est la partie du code qui est reçue par le client. Je rappelle que le client c’est notre navigateur Web. Il s’agit finalement des éléments du site web que l’on aperçoit à l’écran et avec lesquels on pourra interagir. Ces éléments sont composés de 3 langages: HTML, CSS et Javascript</p>
        <!-- <div class="languages text-center">
            <img src="images/html.png" width="20%" alt="">
            <img src="images/css.png" width="18%" alt="">
            <img src="images/js.png" width="15%" alt="">
        </div>  -->
        <ul class="list-unstyled padded">
            <li class="media">
                <img src="images/html.png" width="21%" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">HTML (Hyper Text Markup Langage)</h5>
                <p>HTML – Hyper Text Markup Langage – est un langage composé de tags, balises en Français. Il va nous permettre de représenter la structure, le squelette de nos pages Web.</p>
                </div>
            </li>
            <li class="media my-4">
                <img src="images/css.png" width="22%" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">CSS (Cascading Styles Sheets)</h5>
                <p>Le langage CSS – Cascading Styles Sheets – est un langage qui va mettre en forme nos pages Web et les embellir. Il va désigner nos éléments HTML à l’aide de sélecteurs et va leur appliquer un style CSS. C’est ce langage CSS qui est responsable des couleurs, des tailles, de la mise en page, etc...</p>
                </div>
            </li>
            <li class="media">
                <img src="images/js.png" width="22%" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Javascript</h5>
                <p>Un site Web peut être composé uniquement d’HTML et de CSS, mais si on veut lui insuffler un peu de vie on aura besoin de Javascript, qui lui, est un vrai langage de programmation, avec des boucles, des conditions…</p>
                </div>
            </li>
        </ul>
        <hr>
        <!-- <i class="fas fa-arrow-down icone text-center"></i> -->
    </div>


   <!--  <div class="bloc3 padded">
            <h2><span style="color: #6B7DF1;">Etape 3, notre site doit être visible partout !</span></h2>
            <div class="container">
                <div class="row">
                    <div class="div col-xs-12 col-sm-6">
                        <h3 class="feature vertical-direction">
                            <i class="fas fa-code icone padded"></i>
                            <p>Je developpe mon site responsive design</p>
                        </h3>
                    </div>
                    <div class="div col-xs-12 col-sm-6">
                        <h3 class="feature vertical-direction">
                            <i class="fas fa-globe icone padded"></i>
                            <p>Puis je le mets en ligne sur internet</p>
                        </h3>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="wrapper-card">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="categorie">Développement web.</div>
                                <img src="images/dev-group2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>HTML5 - CSS3: Les bases</strong></h5>
                                    <hr>
                                    <p>Je code un site one-page de photographe</p>
                                    <p class="card-text">Durée de la formation: 2 jours</p>
                                    <hr>
                                    <p><i>Aucun pré-requis</i></p>
                                    <a href="#" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Je m'inscris</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="categorie">Développement web.</div>
                                <img src="images/code1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>HTML5 - CSS3: On va plus loin</strong></h5>
                                    <hr>
                                    <p>Je code un site one-page de type AirBnB</p>
                                    <p class="card-text">Durée de la formation: 3 jours</p>
                                    <hr>
                                    <p><i>Aucun pré-requis</i></p>
                                    <a href="#" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Je m'inscris</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="categorie">Développement web.</div>
                                <img src="images/code2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>JAVASCRIPT: Les bases</strong></h5>
                                    <hr>
                                    <p>Je crée une interface web dynamique type oui.sncf</p>
                                    <p class="card-text">Durée de la formation: 4 jours</p>
                                    <hr>
                                    <p><i>Pré-requis: Les bases HTML/CSS</i></p>
                                    <a href="#" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Je m'inscris</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4" style="margin: auto;">
                            <div class="card">
                                <div class="categorie">Développement web.</div>
                                <img src="images/codeur.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>HTML - CSS - JAVASCRIPT</strong></h5>
                                    <hr>
                                    <p>Je crée une interface web de boutique en ligne</p>
                                    <p class="card-text">Durée de la formation: 5 jours</p>
                                    <hr>
                                    <p><i>Pré-requis: Les bases HTML/CSS</i></p>
                                    <a href="#" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Je m'inscris</a>
                                </div>
                            </div>
                        <!-- </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="categorie">SEO</div>
                                <img src="images/seo1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Formation SEO junior</strong></h5>
                                    <hr>
                                    <p>J'intégre les bases du SEO pour développer votre présence en ligne</p>
                                    <p class="card-text">Durée de la formation: 5 jours</p>
                                    <hr>
                                    <p><i>Pré-requis: Les bases HTML/CSS</i></p>
                                    <a href="#" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Je m'inscris</a>
                                </div>
                            </div>
                            </div> -->
                            <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="card">
                                    <div class="categorie">SEO</div>
                                    <img src="images/seo2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Formation SEO expert</strong></h5>
                                        <hr>
                                        <p>Je travaille sur un programme sur-mesure adapté à mes besoins.</p>
                                        <p class="card-text">Durée de la formation: 5 jours</p>
                                        <hr>
                                        <p><i>Pré-requis: Les bases HTML/CSS</i></p>
                                        <a href="#" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Je m'inscris</a>
                                    </div>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>


    <div class="bloc2 padded" style="margin-top: 100px;">
             <!-- <h3>Je me forme en...</h3> -->
        <div class="accordion" id="accordionExample">
                <h3>Plus en détails, nous vous formons en...</h3>
                <div class="card-button">
                    <div class="" id="headingOne">
                    <h2 class="mb-0">
                        <button class="cta collapse-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        2 jours de formation : Objectif, faire un site one-page de photographe
                        </button>
                    </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Au programme, 2 jours de formation intensive sur les langages de bases du web : <strong>HTML et CSS</strong>. Au travers la création de votre premiere page web, nous verrons comment créer une interface utilisateur avec les balises HTML et les sélécteurs CSS.</p>
                        <hr>
                        <div class="details">
                           <ul>
                            <h4>HTML - Langage de balise</h4>
                            <li>L'anatomie d'un élément HTML</li>
                            <li>Les titres</li>
                            <li>Les paragraphes</li>
                            <li>Les images</li>
                            <li>Les liens</li>
                            <li>Les listes</li>
                          </ul>
                          <ul>
                            <h4>CSS - On met de la couleur et on organise notre contenue</h4>
                            <li>Les sélecteur</li>
                            <li>Les propriétés</li>
                            <li>Les valeurs</li>
                            <li>Les mises en forme (width, margin, padding, border, etc...)</li>
                            <li>Les polices et le texte (font-size, text-align, font-family, etc...)</li>
                            <li></li>
                          </ul>
                        </div>

                    </div>
                    </div>
                </div>
                <div class="card-button">
                    <div class="" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="cta collapse-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        3 jours de formation : Objectif, faire un site one-page type AirBnB
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Sur cette formation, en plus des langages de bases du web que sont <strong>HTML et CSS</strong>, nous allons nous intéresser au <strong>maquettage de site</strong>. Un préalable indispensable si l'on veut travailler en agence web. Nous développerons ensemble le célèbre site de réservation AirBnB.</p>
                        <h4>On prototype avec Figma</h4>
                        <p>L'idée est de contruire un visuel fidèle à ce que l'on veut avant de coder.</p>
                        <hr>
                        <div class="details">
                          <ul>
                            <h4>HTML - Langage de balise</h4>
                            <li>L'anatomie d'un élément HTML</li>
                            <li>Les titres</li>
                            <li>Les paragraphes</li>
                            <li>Les images</li>
                            <li>Les liens</li>
                            <li>Les listes</li>
                          </ul>
                          <ul>
                            <h4>CSS - On met de la couleur et on organise notre contenue</h4>
                            <li>Les sélecteur</li>
                            <li>Les propriétés</li>
                            <li>Les valeurs</li>
                            <li>Les mises en forme (width, margin, padding, border, etc...)</li>
                            <li>Les polices et le texte (font-size, text-align, font-family, etc...)</li>
                            <li></li>
                          </ul>
                        </div>

                    </div>
                    </div>
                </div>
                <div class="card-button">
                    <div class="" id="headingThree">
                    <h2 class="mb-0">
                        <button class="cta collapse-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                4 jours : Objectif, créer une interface web dynamique type Oui.sncf
                        </button>
                    </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      <p>Pré-requis : connaitre les bases de HTML et CSS</p>
                        <p>UI/UX ?? L'expérience utilisateur c'est quoi ?! Javascript va répondre à cette question ! Cette formation a pour but de donner les bases permettant de dynamiser un site web et d'améliorer l'interactivité avec l'utilisateur. Nous vous initions aux bases de <strong>l'algorithme</strong>. Les <strong>frameworks CSS</strong> sont également au programme afin de facilité le développement. Nous développerons ensemble l'interface utilisateur de oui.sncf</p>
                        <p>Plus en détail, nous aborderons les sujets suivants:</p>
                        <hr>
                        <div class="details">
                           <ul>
                            <li>Qu'est ce que le DOM.</li>
                            <li>Les variables.</li>
                            <li>Sélectionner un élément du DOM (querySelector).</li>
                            <li>Les opérateurs (d'assignation, logique, arithmétique).</li>
                            <li>Les chaines de caractère.</li>
                          </ul>
                          <ul>
                            <li>Les structures conditionnelles.</li>
                            <li>Les boucles.</li>
                            <li>Les fonctions.</li>
                            <li>Les évenements.</li>
                          </ul>
                        </div>

                    </div>
                    </div>
                </div>
                <div class="card-button">
                        <div class="" id="headingThree">
                        <h2 class="mb-0">
                            <button class="cta collapse-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                5 jours : Objectif, créer une interface de boutique en ligne avec plusieurs pages
                            </button>
                        </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Dans cette formation, nous verrons les bases HTML - CSS, quelques notions de Javascript dans l'objectif de structurer un site de boutique en ligne <strong>(barre de navigation, header, page produit, call to action, footer, etc...)</strong> et qu'elle s'adapte à n'importe quel support <strong>(responsive design)</strong>.</p>
                            <p>Nous reprendrons l'essentiel des points des formations initiales.</p>
                        </div>
                        </div>
                    </div>
                </div>
    </div>

<div class="wrapper team padded">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <h3 class="">Qui est votre teacher.</h3>
                <h2 class="">Les cours sont conçus et dispensés en live code par des teachers professionnels du web.</h2>
                <p>Vous avez un projet web à réaliser et vous voulez le coder vous même. Vous voulez monter en compétences sur des technos reconnues sur le marché de l'emploi. Faire est le meilleur moyen d'apprendre. Vous coderez tous au long de votre formation chez nous. Nous vous formons au moyen de live et de petits projets concrets.</p>
                <p>Nous aborderons les 'bests practices' du web et comment utiliser les bons outils pour les bonnes pratiques.</p>
                <button class="collapse-button cta"> Devenir un teacher chez <strong>WEMAKEWEB</strong> </button>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 avatar text-center center">
                <div class="photo">
                    <img src="images/moi.jpg" alt="">
                    <h4>Nicolas acard</h4>
                    <h5>Développeur web et formateur</h5>
                </div>
               <!--  <div class="photo">
                    <img src="images/mika.png" alt="">
                    <h4>Michael Turcan</h4>
                    <h5>Consultant SEO</h5>
                </div> -->
                <div class="photo">
                    <div class="new-teacher center">Rejoignez-nous</div>
                    <h4>Peut-être vous ?</h4>
                    <h5>;)</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header pt-2">
        <h1>Bootstrap 4 Sticky Footer</h1>
    </div>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
</div>
<div id="map" style="width: 100%;height: 500px;"></div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fas fa-blog"></i> WEMAKEWEB</h5>
                <p>Vous avez un projet web à réaliser et vous voulez le coder vous même. Vous voulez monter en compétences sur des technos reconnues sur le marché de l'emploi. Faire est le meilleur moyen d'apprendre. Vous coderez tous au long de votre formation chez nous. Nous vous formons au moyen de live et de petits projets concrets.</p>

                <!-- <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Les formations</a></li>
                            <li><a href="">Nos outils</a></li>
                            <li><a href="https://mturcan.pro/">Partenaire SEO</a></li>
                            <li><a href="">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Conditions générales</a></li>
                            <li><a href="">A propos de nous</a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul> -->
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contactez nous</h5>
                <hr>
                Tel: 06.61.56.81.40
            </div>
            <div class="col-md-5">
                <form id="contact-form-footer">
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Votre email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="text" placeholder="Vous avez des questions..."></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" id="submit" class="btn btn-primary btn-lg">J'apprends à coder</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>

























    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body" style="color: red;">
                Vous n'avez pas remplis un des formulaire...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-button" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
<script src="navbar.js"></script>
<script src="formData.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCdcrwCTRbeNmrQP_5m6uApSo5jiWe-MP8"></script>
<script type="text/javascript" src="map.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>









</body>
</html>
