@import url('https://fonts.googleapis.com/css?family=Poppins:200i,300,400,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: white;
    padding: 0;
    margin: 0;
    color: white;
}

nav{
    position: fixed;
    padding: 10px;
    width: 100%;
    height: 10vh;
    font-weight: bolder;
    z-index: 1000;
    border-bottom: 1px solid rgb(131,58,180, 0.4);
    transition: .4s;
}

.nav-item-xs{
    display: none;
}


li{
    list-style: none;
    padding: 0px 10px;
}

h1{
    font-size: 64px;
    font-weight: bolder;
}

ul{
    margin-top: 16px;
}

button{
    border: none;
}

.navbar a{
    color: white;
    padding: 10px;
}

.navbar a:hover{
    color: white;
    text-decoration: none;
    /* border-bottom-style: solid;
    border-bottom-width: 2px; */
}

.dropdown-menu{
    background-color: #6B7DF1;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
}

.dropdown-menu p{
    color: white;
}

.dropdown-item:hover{
    background-color: #6B7DF1;
    color: #06EDA4;
}

.totop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: .4s;
}

.totop:hover{
    background-color: black;
    border-top-left-radius: 20px;
    transition: .4s;
}

.icone{
    font-size: 60px;
    color: #06EDA4; 
}

.text-gradient{
    background: -webkit-linear-gradient(0deg, rgba(27,231,169,0.9) 0%, rgba(102,137,235,0.9) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vertical-direction{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.padded{
    padding-top:50px;
    padding-bottom: 50px;
}

.nav-scroll{
    background-color: white;
    /* color: gray; */
    transition: .4s;
    border: none;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);

}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: absolute;
    left: 20px;
}

.punch-line{
    font-size: 32px;
    margin-bottom: 10px;
}

.banner{
    background-image: linear-gradient(90deg, rgba(27,231,169,0.9) 0%, rgba(102,137,235,0.9) 100%), url("/images/banner.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative;
    /* background: rgba(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%); */
    height: 100vh;
    color: white;
}

.right-bloc img{
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    border-radius: 20px;
}

.right-bloc .cta{
    display: none;
}

.cta{
    background-color: #06EDA4;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border-color: #06EDA4;
    border-top-left-radius: 20px;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    transition: .4s;
}

.header-button .b1{
    margin-right: 50px;
}

.cta:hover{
    color: #06EDA4;
    background-color: white;
    transition: .4s;
}

.formation{
    background-color: #6B7DF1;
    color: white;
    padding: 20px;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 15px;
    margin: 20px;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
}

.languages{
    margin-bottom: 100px;
    letter-spacing: 75px;
}

.bloc2{
    background-image: linear-gradient(90deg, rgba(255,255,255) 40%, rgba(252,176,69,0) 100%), url("/images/dev-freelance.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #222222;
}

.bloc2 h3{
    font-size: 40px;
    font-weight: bolder;
    color: #06EDA4;
}

.accordion{
    width: 40%;
    padding-left: 30px;
}

.collapse-button{
    width: 100%;
    background: rgb(27,231,169);
    background: linear-gradient(90deg, rgba(27,231,169,1) 0%, rgba(102,137,235,1) 100%);
}

.card-button{
    padding: 10px;
    /* box-shadow:  0 10px 30px rgba(0,0,0,.1); */

}

.card img{
    height: 236px;
}

.bloc3{
    background-color: #FAFAFA;
    /* padding: 100px; */
    color: gray;
    text-align: center;
}

.bloc3 .container{
    vertical-align: center;
}

.bloc3 h2{
    font-size: 40px; 
    color: black; 
    font-weight: bolder;
    padding: 100px; 
}

.fa-arrow-down{
    margin: 20px auto;
    width: 100%;
}

.text-bloc{
    color: gray;
    /* padding: 50px; */
    padding-top: 100px;
    padding-bottom: 100px;
    width: 70%;
    margin: 20px auto;
}

.text-bloc h3{
    font-size: 40px;
    font-weight: bolder;
}

.feature{
    height: 250px;
    transition: .4s;
    font-size: 24px;
}

.feature:hover{
    padding: 0px;
    background-color: #6B7DF1;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    color: white;
    transition: .4s;
    border-radius: 20px;
    border-top-left-radius: 70px;
}

.media img{
    width: 125px;
}

footer{
    background-color: #6B7DF1;
    height: 50vh;
}

#submit{
    background-color: rgb(27,231,169);
    border: 1px solid rgb(27,231,169);
}

.contact{
    background-color: #6B7DF1;
    color: white;
    border-color: rgb(95, 95, 100);
}

.card{
    margin-top: 30px;
    background-color: #FAFAFA;
    color: black;
    width: 100%;
    border: none;
    border-radius: 20px;
    transition: .4s;
}

.card img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card a{
    background-color: #6B7DF1;
}

.card:hover{
    background-color: white;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    transition: .4s;

}

form{
    width: 40%;
}

.form-inline .input-group{
    width: 100%;
}

.add-modal{
    display: block;
}