@import url('https://fonts.googleapis.com/css?family=Poppins:200i,300,400,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: white;
    padding: 0;
    margin: 0;
    color: white;
}

nav{
    position: fixed;
    padding: 10px;
    width: 100%;
    height: 10vh;
    font-weight: bolder;
    z-index: 1000;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    transition: .4s;
    background-color: white;
}

.nav-item-xs{
    display: none;
}

#navbarDropdown{
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  color: gray;
  border: 1px solid #6B7DF1;
}


li{
    list-style: none;
    padding: 0px 10px;
}

h1{
    font-size: 64px;
    font-weight: bolder;
}

ul{
    margin-top: 16px;
}

button{
    border: none;
}

.logo{
  display: flex;
  flex: 1;
  color: gray;
  font-size: 24px;
}

.navbar a{
    color: gray;
    padding: 10px;
}

.navbar a:hover{
    color: white;
    text-decoration: none;
    /* border-bottom-style: solid;
    border-bottom-width: 2px; */
}

.dropdown-menu{
    background-color: white;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
}

.dropdown-menu p{
    color: gray;
}

.dropdown-item:hover{
    background-color: #6B7DF1;
    color: gray;
}

.totop{
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: .4s;
}

.totop:hover{
    background-color: black;
    border-top-left-radius: 20px;
    transition: .4s;
}

.icone{
    font-size: 60px;
    color: #06EDA4;
}

.text-gradient{
    background: -webkit-linear-gradient(0deg, rgba(27,231,169,0.9) 0%, rgba(102,137,235,0.9) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vertical-direction{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.padded{
    padding-top:75px;
    padding-bottom: 75px;
}

.nav-scroll{
    background-color: white;
    /* color: gray; */
    transition: .4s;
    border: none;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);

}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.punch-line{
    font-size: 32px;
    margin-bottom: 10px;
    padding-right: 100px;
}

.left-bloc p{
    padding-right: 80px;
}

.banner{
    background-image: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%), url("/images/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    /* background: rgba(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%); */
    height: 100vh;
    color: gray;
    text-align: justify;
}

.right-bloc img{
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    border-radius: 20px;
}

.right-bloc .cta{
    display: none;
}

.cta{
    background-color: #06EDA4;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border-color: #06EDA4;
    border-top-left-radius: 20px;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    transition: .4s;
}

.header-button .b1{
    margin-right: 50px;
}

.cta:hover{
    color: #06EDA4;
    background-color: white;
    transition: .4s;
}

.formation{
    background-color: #6B7DF1;
    color: white;
    padding: 20px;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 15px;
    margin: 20px;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
}

.languages{
    margin-bottom: 100px;
    letter-spacing: 75px;
}

.bloc2{
    background-image: linear-gradient(90deg, rgba(255,255,255) 65%, rgba(252,176,69,0) 100%), url("/images/dev-freelance.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    color: gray;
}

.bloc2 h3{
    font-size: 40px;
    font-weight: bolder;
    color: #06EDA4;
}

.accordion{
    width: 80%;
    padding-left: 30px;
}

.collapse-button{
    width: 100%;
    color: white;
    padding: 15px;
    background: rgb(27,231,169);
    background: linear-gradient(90deg, rgba(27,231,169,1) 0%, rgba(102,137,235,1) 100%);
}

.button{
    padding: 10px;
    /* box-shadow:  0 10px 30px rgba(0,0,0,.1); */

}

.card .détails{

  color: gray;
}

.card img{
    height: 236px;
}

.bloc3{
    background-color: #FAFAFA;
    /* padding: 100px; */
    color: gray;
    text-align: center;
}

.bloc3 .container{
    vertical-align: center;
}

.bloc3 h2{
    font-size: 40px;
    color: black;
    font-weight: bolder;
    padding: 100px;
}

.bloc3 .fas{
    padding: 30px;
    font-size: 30px;
    color: #6B7DF1;
}

.fa-arrow-down{
    margin: 0px auto;
    width: 100%;
}

.text-bloc{
    color: gray;
    /* padding: 50px; */
    padding-top: 100px;
    padding-bottom: 0px;
    width: 70%;
    margin: 0px auto;
    text-align: justify;
}

.text-bloc h3{
    font-size: 40px;
    font-weight: bolder;
}

.feature{
    height: 250px;
    transition: .4s;
    font-size: 24px;
}

.feature:hover{
    padding: 0px;
    background-color: #6B7DF1;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    color: white;
    transition: .4s;
    border-radius: 20px;
    border-top-left-radius: 70px;
}

.media img{
    width: 125px;
}

/*footer{
    background-color: #F7F7F7;
    height: 50vh;
}*/

#submit{
    /*background-color: rgb(27,231,169);*/
    background-color: #6B7DF1;
    /*border: 1px solid rgb(27,231,169);*/
    border: none;
}

.contact{
    background-color: #6B7DF1;
    color: white;
    border-color: rgb(95, 95, 100);
}

.card{
    position: relative;
    margin-top: 30px;
    background-color: #FAFAFA;
    color: black;
    width: 100%;
    border: none;
    border-radius: 20px;
    transition: .4s;
}

.categorie{
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 50%;
    padding: 10px;
    background-color: rgba(255,255, 255, 0.9);
    border-radius: 20px;
    color: gray;
}

.top-card .categorie{
    background-color: red;
    color: white;
}

.card img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card a{
    background-color: #6B7DF1;
}

.card:hover{
    background-color: white;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    transition: .4s;
}

form{
    /* width: 40%; */
}

.form-inline{
  display: block;
}

.form-inline .input-group{
    width: 100%;
}

.add-modal{
    display: block;
}

.team{
    background-color: white;
    color: #535353;
}

.team h3{
    font-weight: 100;
    color: gray;
    font-size: 16px;
}

.team h2{
    font-weight: bolder;
    color: black;
    border-bottom: 3px solid #6B7DF1;
    font-size: 24px;
}

.team h5{
    font-size: 16px;
}

.team p{
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

.team .photo img{
    width: 150px;
    border-radius: 50%;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    transition: .4s;
    margin-left: 10px;
    background-color: #06EDA4;
}

.team .photo img:hover{
    transition: .4s;
    box-shadow:  0 10px 30px rgba(27,231,169, .5);
    padding: 8px;
}

.team .new-teacher{
    background-color: #06EDA4;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    color: white;
    font-weight: bolder;
    margin-left: 30px;
}

.team .photo h4{
    color: black;
    font-weight: 600;
    padding: 15px;
}

.setup-dev{
    text-align: center;
    color: black;
}

.presentation ul{
    line-height: 3;
}

.presentation ul .fas {
    color: #06EDA4;
    font-size: 24px;
}

.presentation span{
    font-size: 16px;
    font-weight: 100;
}

.presentation img{
    width: 80%;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    border-radius: 5%;
}

.alert{
    position: fixed;
    right: 0px;
    display: none;
    width: 25%;
    margin: auto;
}

.chat{
    position: fixed;
    right: 70px;
    bottom: 0px;
    height: 55px;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    transition: .4s;
}

.chat-open{
    height: 450px;
    transition: .4s;
}

.chat .title{
    background-color: #06EDA4;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}

.chat .title:hover{
    cursor: grab;
}

.chat .title h3{
    font-size: 14px;
    font-weight: 200;
}

.chat .body-chat{
    width: 300px;
    background-color: white;
    font-size: 12px;
    font-weight: lighter;
    color: black;
    padding: 40px;
}

.chat .body-chat form{
    width: 100%;
}

.chat .body-chat .message-chat-intro{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
}

.body-chat input{
    font-size: 12px;
    border-radius: 20px;
}

.body-chat #chat-submit{
    font-size: 12px;
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
}

.avatar{
    width: 30px;
    border-radius: 50%;
}

.mika{
    margin-left: -8px; 
    margin-right: 10px;
}

.title .fas{
    position: absolute;
    right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.title .fas:hover{
    background-color: rgb(98, 250, 202);
    box-shadow:  0 10px 30px rgba(0,0,0,.1);
    transition: .4s;
}

.details{
  padding: 0;
  color: gray;
}

.details i{
  margin-right: 5px;
}

.newsletter{
    color: white;
    width: 100%;
    padding: 100px;
    text-align: center;
    background: linear-gradient(90deg, rgba(27,231,169,1) 0%, rgba(102,137,235,1) 100%);
}

.newsletter h2{
    font-weight: bold;
}

.newsletter form{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

#newsletter-input{
    width: 300px;
}

.newsletter p{
    padding-bottom: 30px;
}

.wrapper-card .card-body p{
    font-size: 18px;
    font-weight: 100;
}








/* Sticky footer position and size
-------------------------------------------------- */

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 400px;
}

/* Taller footer on small screens */
@media (max-width: 34em) {
    body {
      margin-bottom: 500px;
    }
    .footer {
      height: 500px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 100px;
  background-color: #F7F7F7;
  color: #bbb;
}

#contact-form-footer{
  width: 100%;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

footer p{
  text-align: justify;
  padding-right: 30px;
}

.submit-contact-form{
  background-color: #6B7DF1;
}
